# specs for travis ci
language: python
python:
  - 3.6
# - 3.7 enable once supported by travis
# install what we need for testing
before_install:
  - pip install --upgrade pip
  - pip install pipenv
  - export PYTHONPATH=$PYTHONPATH:$(pwd)
install:
  - pipenv install --dev --ignore-pipfile --deploy
before_script:
  - make
script:
  - pipenv run pytest --cov-report xml --cov-report term
after_success:
  - codecov -t 0920ece4-7a13-4764-9ec2-192f709670ca